@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@plugin "daisyui" {
  themes: false;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
  name: "bluestar";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #f0f5fa;
  --color-base-300: #d1d5db;
  --color-base-content: #1e293b;
  --color-primary: #0171bb;
  --color-primary-content: #ffffff;
  --color-secondary: #045cb4;
  --color-secondary-content: #ffffff;
  --color-accent: #78be20;
  --color-accent-content: #10240a;
  --color-neutral: #12144b;
  --color-neutral-content: #ffffff;
  --color-info: #0693e3;
  --color-info-content: #00233a;
  --color-success: #5e9618;
  --color-success-content: #ffffff;
  --color-warning: #e6a700;
  --color-warning-content: #3d2c00;
  --color-error: #c81e1e;
  --color-error-content: #ffffff;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
